
*.o

cmake_builds/CMakeCache.txt
cmake_builds/*
kmeans/*
pdf_cache/*
tests/*
src/gluon_fusion/RRroutinesv2/rrgg2ggh_old/*
src/gluon_fusion/RRroutinesv2/rrgg2qqbarh_old/*
src/decay_wwzz/higgs_zerfall_old.f
src/gluon_fusion/electroweak_h_plus_jet
run/*.png
run/*.pyc
doxygen/*
ehixs.xcodeproj/*
